<a href="https://colab.research.google.com/github/SushanthikPoreddy/data690_sushanthik/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 03

- Student: Sushanthik Reddy
- Student ID: TY99095

# 1.Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [10]:
import random
row = int(input("Enter the number of rows:")) 
column = int(input("Enter the number of columns:")) 
a=[]
for i in range(row):
    b=[]
    for j in range(column):
        
        y=random.randrange(10)
        b.append(y)
    a.append(b)
for i in range(row):  
    for j in range(column):
        print(a[i][j],end=' ')
    print()

Enter the number of rows:10
Enter the number of columns:10
5 8 2 4 0 5 2 7 1 9
7 0 9 9 5 6 6 1 1 7
3 9 2 1 5 5 1 2 9 1
8 2 0 6 9 3 1 8 2 4
1 2 3 4 7 8 9 6 2 4
4 8 6 2 7 6 7 9 7 3
1 4 7 5 1 2 6 6 0 3
2 9 1 3 3 5 2 8 6 2
8 8 6 0 2 8 2 1 8 0
2 1 8 0 3 5 9 9 1 7

# 2.If the random number is an odd number, print "@" instead. like the following:

In [12]:
for i in range(row):  
    for j in range(column):
        if a[i][j]%2==1:
            print('@',end=' ')
        else:
            print(a[i][j],end=' ')
    print()

@ 8 2 4 0 @ 2 @ @ @
@ 0 @ @ @ 6 6 @ @ @
@ @ 2 @ @ @ @ 2 @ @
8 2 0 6 @ @ @ 8 2 4
@ 2 @ 4 @ 8 @ 6 2 4
4 8 6 2 @ 6 @ @ @ @
@ 4 @ @ @ 2 6 6 0 @
2 @ @ @ @ @ 2 8 6 2
8 8 6 0 2 8 2 @ 8 0
2 @ 8 0 @ @ @ @ @ @

# 3.Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [13]:
for i in range(row):
  total = 0
  for j in range(column):
    y = a[i][j]
    total = total + y
    print(y, end=' ')
  print('* ' + str(total))

5 8 2 4 0 5 2 7 1 9 * 43
7 0 9 9 5 6 6 1 1 7 * 51
3 9 2 1 5 5 1 2 9 1 * 38
8 2 0 6 9 3 1 8 2 4 * 43
1 2 3 4 7 8 9 6 2 4 * 46
4 8 6 2 7 6 7 9 7 3 * 59
1 4 7 5 1 2 6 6 0 3 * 35
2 9 1 3 3 5 2 8 6 2 * 41
8 8 6 0 2 8 2 1 8 0 * 43
2 1 8 0 3 5 9 9 1 7 * 45

# 4.Optional: Surround the matrix with asterisks (*) like the following:

In [18]:
print("***********************")
for i in range(row):
    print('*',end=' ')
    for j in range(column):
        print(a[i][j], end = ' ')
    print('*')
    print()
print("***********************")

***********************
* 5 8 2 4 0 5 2 7 1 9 *

* 7 0 9 9 5 6 6 1 1 7 *

* 3 9 2 1 5 5 1 2 9 1 *

* 8 2 0 6 9 3 1 8 2 4 *

* 1 2 3 4 7 8 9 6 2 4 *

* 4 8 6 2 7 6 7 9 7 3 *

* 1 4 7 5 1 2 6 6 0 3 *

* 2 9 1 3 3 5 2 8 6 2 *

* 8 8 6 0 2 8 2 1 8 0 *

* 2 1 8 0 3 5 9 9 1 7 *

***********************