<a href="https://colab.research.google.com/github/SushanthikPoreddy/data690_sushanthik/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 03

- Student: Sushanthik Reddy
- Student ID: TY99095

# 1.Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [7]:
import random
row = int(input("Enter the number of rows:")) 
column = int(input("Enter the number of columns:")) 
a=[]
for i in range(row):
    b=[]
    for j in range(column):
        
        y=random.randrange(10)
        b.append(y)
    a.append(b)
for i in range(row):  
    for j in range(column):
        print(a[i][j],end=' ')
    print()

Enter the number of rows:10
Enter the number of columns:10
5 4 4 4 7 8 0 3 2 0
0 5 7 7 2 2 9 8 5 9
2 2 6 9 8 8 3 8 0 1
5 4 8 7 4 8 1 6 0 7
8 1 8 0 7 5 5 1 5 7
0 1 9 0 2 3 6 0 2 3
4 6 8 4 5 2 5 2 5 5
8 6 6 3 2 5 3 2 4 9
2 3 2 8 9 7 4 7 5 6
0 8 4 2 4 9 2 5 8 2

# 2.If the random number is an odd number, print "@" instead. like the following:

In [8]:
for i in range(row):  
    for j in range(column):
        if a[i][j]%2==1:
            print('@',end=' ')
        else:
            print(a[i][j],end=' ')
    print()

@ 4 4 4 @ 8 0 @ 2 0
0 @ @ @ 2 2 @ 8 @ @
2 2 6 @ 8 8 @ 8 0 @
@ 4 8 @ 4 8 @ 6 0 @
8 @ 8 0 @ @ @ @ @ @
0 @ @ 0 2 @ 6 0 2 @
4 6 8 4 @ 2 @ 2 @ @
8 6 6 @ 2 @ @ 2 4 @
2 @ 2 8 @ @ 4 @ @ 6
0 8 4 2 4 @ 2 @ 8 2

# 3.Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [9]:
for i in range(row):
  total = 0
  for j in range(column):
    y = a[i][j]
    total = total + y
    print(y, end=' ')
  print('* ' + str(total))

5 4 4 4 7 8 0 3 2 0 * 37
0 5 7 7 2 2 9 8 5 9 * 54
2 2 6 9 8 8 3 8 0 1 * 47
5 4 8 7 4 8 1 6 0 7 * 50
8 1 8 0 7 5 5 1 5 7 * 47
0 1 9 0 2 3 6 0 2 3 * 26
4 6 8 4 5 2 5 2 5 5 * 46
8 6 6 3 2 5 3 2 4 9 * 48
2 3 2 8 9 7 4 7 5 6 * 53
0 8 4 2 4 9 2 5 8 2 * 44

# 4.Optional: Surround the matrix with asterisks (*) like the following:

In [10]:
print("**********************")
for i in range(row):
    print('*',end=' ')
    for j in range(column):
        print(a[i][j], end = ' ')
    print('*',end=" ")
    print()
print("*********************")

**********************
* 5 4 4 4 7 8 0 3 2 0 *
* 0 5 7 7 2 2 9 8 5 9 *
* 2 2 6 9 8 8 3 8 0 1 *
* 5 4 8 7 4 8 1 6 0 7 *
* 8 1 8 0 7 5 5 1 5 7 *
* 0 1 9 0 2 3 6 0 2 3 *
* 4 6 8 4 5 2 5 2 5 5 *
* 8 6 6 3 2 5 3 2 4 9 *
* 2 3 2 8 9 7 4 7 5 6 *
* 0 8 4 2 4 9 2 5 8 2 *
*********************