<a href="https://colab.research.google.com/github/SushanthikPoreddy/data690_sushanthik/blob/main/assignment_04/assignment_04_partA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write code to open the text file census_costs.txt and read all lines into a list named "line_list". Print line_list.

In [72]:
with open("/content/census_costs.txt","r") as f:
    line_list = f.readlines()       #readlines() is used to read all the lines at a single go and then return them as each line a string element in a list.
print(line_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

# 2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [73]:
top2_list = []
top2_list.append(line_list[0])
top2_list.append(line_list[1])
print(top2_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

# 3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [74]:
data_list =[]
for line in range(2,len(line_list)):
  data_list.append(line_list[line])
print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

# 4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [89]:
# year_list = []
# for line in range(0,len(data_list)):
#   A = data_list[line].split(" ")
#   year_list.append(A[0])
# print(year_list)

['1790\t3,929,214\t$44,377\t1.13', '1800\t5,308,483\t$66,109\t1.24', '1810\t7,239,881\t$178,445\t2.46', '1820\t9,633,822\t$208,526\t2.16', '1830\t12,866,020\t$378,545\t2.94', '1840\t17,069,458\t$833,371\t4.88', '1850\t23,191,876\t$1,423,351\t6.14', '1860\t31,443,321\t$1,969,377\t6.26', '1870\t38,558,371\t$3,421,198\t8.87', '1880\t50,155,783\t$5,790,678\t11.54', '1890\t62,979,766\t$11,547,127\t18.33', '1900\t76,303,387\t$11,854,000\t15.54', '1910\t91,972,266\t$15,968,000\t17.07', '1920\t105,710,620\t$25,117,000\t23.76', '1930\t122,775,046\t$40,156,000\t32.71', '1940\t131,669,275\t$67,527,000\t51.29', '1950\t151,325,798\t$91,462,000\t60.44', '1960\t179,323,175\t$127,934,000\t71.34', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5', '2010*\t308,745,538\t$13']